@model RideOnCab.ViewModels.RideViewModel

@{
    ViewData["Title"] = "Edit Ride";
}

<h2>Edit Ride</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="AvailableVehicles" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="AvailableVehicles" asp-items="@Model.AvailableVehicles1" class="form-control"></select>
                <span asp-validation-for="AvailableVehicles" class="text-danger" />
            </div>
            <input type="hidden" asp-for="SelectedVehicleId" />
        </div>
        <div class="form-group">
            <label asp-for="Source" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Source" class="form-control" />
                <span asp-validation-for="Source" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Destination" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Destination" class="form-control" />
                <span asp-validation-for="Destination" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Fare" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Fare" class="form-control" />
                <span asp-validation-for="Fare" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WaitingChargesPerMinute" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="WaitingChargesPerMinute" class="form-control" />
                <span asp-validation-for="WaitingChargesPerMinute" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/rides.js"></script>
}
